### Loading in the data

In [325]:
import matplotlib.pyplot as plt
#import statsmodels.tsa.seasonal as smt
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import datetime as dt

In [326]:
import os
from os.path import expanduser
home = expanduser("~")
os.chdir(home+'\Desktop\Deep Learning Project\Data\price-volume-data-for-all-us-stocks-etfs\Data\Stocks')
os.getcwd()

'C:\\Users\\Thomas\\Desktop\\Deep Learning Project\\Data\\price-volume-data-for-all-us-stocks-etfs\\Data\\Stocks'

In [908]:
#read data
#takes 1 minute for 1000 files

filenames = [x for x in os.listdir() if x.endswith('.txt') and os.path.getsize(x) > 0]
#filenames = ['a.us.txt', aa.us.txt, 'bgr.us.txt']
filenames=filenames[:100]


#data = []
result=None
for filename in filenames:
    df = pd.read_csv(filename, sep=',')

    label, _, _ = filename.split(sep='.')
    df.insert(loc=0, column='Label', value=filename)
    df['Date'] = pd.to_datetime(df['Date'])
    df['ReturnOpenPrevious']=(df.Open-df.Open.shift(1))/df.Open.shift(1)
    df['ReturnOpenNext']=(df.Open.shift(-1)-df.Open)/df.Open
    #data.append(df)
    if type(result)==type(None):
        result=df
    else:
        result=result.append(df,ignore_index=True)
    
result.head()

,Label,Date,Open,High,Low,Close,Volume,OpenInt,ReturnOpenPrevious,ReturnOpenNext
0,a.us.txt,1999-11-18,30.713,33.754,27.002,29.702,66277506,0,NaN,-0.056230
1,a.us.txt,1999-11-19,28.986,29.027,26.872,27.257,16142920,0,-0.056230,-0.037949
2,a.us.txt,1999-11-22,27.886,29.702,27.044,29.702,6970266,0,-0.037949,0.028760
3,a.us.txt,1999-11-23,28.688,29.446,27.002,27.002,6332082,0,0.028760,-0.055947
4,a.us.txt,1999-11-24,27.083,28.309,27.002,27.717,5132147,0,-0.055947,0.018868

In [910]:
result1=result.copy()
encoder_Label = dict()
encoder_Label = {l: id for id, l in enumerate(filenames)}

result1.Label=[encoder_Label.get(i) for i in result1.Label]
result1.tail()

,Label,Date,Open,High,Low,Close,Volume,OpenInt,ReturnOpenPrevious,ReturnOpenNext
260881,99,2017-11-06,8.00,8.15,7.800,7.85,409212,0,0.059603,-0.012500
260882,99,2017-11-07,7.90,8.00,7.750,7.80,464754,0,-0.012500,-0.018987
260883,99,2017-11-08,7.75,7.90,7.525,7.80,392643,0,-0.018987,-0.006452
260884,99,2017-11-09,7.70,7.90,7.500,7.85,465090,0,-0.006452,0.025974
260885,99,2017-11-10,7.90,8.15,7.750,7.95,558278,0,0.025974,NaN

In [911]:
result2=result1.copy()
encoder_Date = dict()
encoder_Date = {l: id for id, l in enumerate(result2.Date.unique())}
result2.Date=[encoder_Date.get(i) for i in result2.Date.values]
result2.tail()

,Label,Date,Open,High,Low,Close,Volume,OpenInt,ReturnOpenPrevious,ReturnOpenNext
260881,99,4516,8.00,8.15,7.800,7.85,409212,0,0.059603,-0.012500
260882,99,4517,7.90,8.00,7.750,7.80,464754,0,-0.012500,-0.018987
260883,99,4518,7.75,7.90,7.525,7.80,392643,0,-0.018987,-0.006452
260884,99,4519,7.70,7.90,7.500,7.85,465090,0,-0.006452,0.025974
260885,99,4520,7.90,8.15,7.750,7.95,558278,0,0.025974,NaN

8

In [914]:
#result3=np.empty((len(encoder_Label),len(encoder_Date),6))
#result3[:,:,:]=None
#result3.shape
#for index, row in result2.iterrows():
#   result3[int(row['Label']),int(row['Date']),:]=row[['Open','High','Low','Close','Volume','OpenInt']]
#result3

result3=np.empty((len(encoder_Label),len(encoder_Date),result2.shape[1]-2))
result3[:,:,:]=None

for row in result2.itertuples():
    result3[int(row.Label),int(row.Date),:]=row[3:]
result3[0,1,:]

array([ 2.89860000e+01,  2.90270000e+01,  2.68720000e+01,  2.72570000e+01,
        1.61429200e+07,  0.00000000e+00, -5.62302608e-02, -3.79493549e-02])

In [792]:
result3.shape

(1000, 12077, 6)

### Baseline Model
### Starting from result

In [915]:
result

,Label,Date,Open,High,Low,Close,Volume,OpenInt,ReturnOpenPrevious,ReturnOpenNext
0,a.us.txt,1999-11-18,30.713,33.754,27.002,29.702,66277506,0,NaN,-0.056230
1,a.us.txt,1999-11-19,28.986,29.027,26.872,27.257,16142920,0,-0.056230,-0.037949
2,a.us.txt,1999-11-22,27.886,29.702,27.044,29.702,6970266,0,-0.037949,0.028760
3,a.us.txt,1999-11-23,28.688,29.446,27.002,27.002,6332082,0,0.028760,-0.055947
4,a.us.txt,1999-11-24,27.083,28.309,27.002,27.717,5132147,0,-0.055947,0.018868
5,a.us.txt,1999-11-26,27.594,28.012,27.509,27.807,1832635,0,0.018868,0.002972
6,a.us.txt,1999-11-29,27.676,28.650,27.380,28.432,4317826,0,0.002972,0.024353
7,a.us.txt,1999-11-30,28.350,28.986,27.634,28.480,4567146,0,0.024353,0.004586
8,a.us.txt,1999-12-01,28.480,29.324,28.273,28.986,3133746,0,0.004586,0.036938
9,a.us.txt,1999-12-02,29.532,30.375,29.155,29.786,3252997,0,0.036938,0.027225
10,a.us.txt,1999-12-03,30.336,30.842,29.909,30.039,3223074,0,0.027225,0.006955
11,a.us.txt,1999-12-06,30.547,31.348,30.505,30.883,2385046,0,0.006955,0.010999
12,a.us.txt,1999-12-07,30.883,31.052,29.909,30.547,2348161,0,0.010999,-0.010880
13,a.us.txt,1999-12-08,30.547,30.795,30.249,30.505,2000481,0,-0.010880,0.000000
14,a.us.txt,1999-12-09,30.547,31.012,30.547,30.924,2150096,0,0.000000,0.009657
15,a.us.txt,1999-12-10,30.842,31.012,30.209,30.209,1764043,0,0.009657,-0.004183
16,a.us.txt,1999-12-13,30.713,31.221,29.958,30.713,4260349,0,-0.004183,-0.002540
17,a.us.txt,1999-12-14,30.635,30.635,28.391,29.027,2467856,0,-0.002540,-0.074588
18,a.us.txt,1999-12-15,28.350,28.561,27.676,28.142,3091820,0,-0.074588,0.000000
19,a.us.txt,1999-12-16,28.350,31.896,28.350,31.896,2738063,0,0.000000,0.104339
20,a.us.txt,1999-12-17,31.308,31.808,30.674,31.012,3929255,0,0.104339,-0.002779
21,a.us.txt,1999-12-20,31.221,31.687,31.134,31.646,1268225,0,-0.002779,0.009481
22,a.us.txt,1999-12-21,31.517,31.517,31.052,31.470,2394232,0,0.009481,-0.001491
23,a.us.txt,1999-12-22,31.470,32.104,31.261,32.104,2019439,0,-0.001491,0.018907
24,a.us.txt,1999-12-23,32.065,33.754,32.025,33.582,2288310,0,0.018907,0.051364
25,a.us.txt,1999-12-27,33.712,35.906,33.455,35.648,2150692,0,0.051364,0.086260
26,a.us.txt,1999-12-28,36.620,41.514,36.412,41.514,3772374,0,0.086260,0.161333
27,a.us.txt,1999-12-29,42.528,53.369,42.487,48.602,11146026,0,0.161333,0.206311
28,a.us.txt,1999-12-30,51.302,54.003,50.122,53.497,7069075,0,0.206311,0.046080
29,a.us.txt,1999-12-31,53.666,53.966,51.473,52.188,2046399,0,0.046080,-0.009410
...,...,...,...,...,...,...,...,...,...,...
260856,adro.us.txt,2017-10-02,10.800,11.075,10.400,11.000,1207557,0,-0.004608,0.027778
260857,adro.us.txt,2017-10-03,11.100,11.350,10.800,11.200,553822,0,0.027778,0.000000
260858,adro.us.txt,2017-10-04,11.100,11.300,11.000,11.100,277455,0,0.000000,0.004505
260859,adro.us.txt,2017-10-05,11.150,11.210,10.250,10.750,396184,0,0.004505,-0.053812
260860,adro.us.txt,2017-10-06,10.550,10.900,10.350,10.350,305602,0,-0.053812,-0.009479
260861,adro.us.txt,2017-10-09,10.450,10.450,10.025,10.100,539477,0,-0.009479,-0.023923
260862,adro.us.txt,2017-10-10,10.200,10.300,10.050,10.150,316351,0,-0.023923,-0.014706
260863,adro.us.txt,2017-10-11,10.050,10.300,9.900,10.000,398765,0,-0.014706,-0.004975
260864,adro.us.txt,2017-10-12,10.000,10.050,9.650,9.750,333601,0,-0.004975,-0.020000
260865,adro.us.txt,2017-10-13,9.800,10.100,9.225,9.250,367602,0,-0.020000,-0.051020
260866,adro.us.txt,2017-10-16,9.300,9.700,9.300,9.500,610743,0,-0.051020,0.026882
260867,adro.us.txt,2017-10-17,9.550,9.750,9.500,9.650,460544,0,0.026882,0.010471
260868,adro.us.txt,2017-10-18,9.650,9.875,9.400,9.550,415250,0,0.010471,-0.005181
260869,adro.us.txt,2017-10-19,9.600,9.700,9.150,9.225,298891,0,-0.005181,-0.036458
260870,adro.us.txt,2017-10-20,9.250,9.400,9.100,9.200,276298,0,-0.036458,-0.010811
260871,adro.us.txt,2017-10-23,9.150,9.250,8.700,8.750,676983,0,-0.010811,-0.038251
260872,adro.us.txt,2017-10-24,8.800,9.050,8.475,8.500,562132,0,-0.038251,-0.039773
260873,adro.us.txt,2017-10-25,8.450,8.550,8.200,8.400,289328,0,-0.039773,-0.011834
260874,adro.us.txt,2017-10-26,8.350,8.425,8.150,8.250,278869,0,-0.011834,0.005988
260875,adro.us.txt,2017-10-27,8.400,8.400,8.050,8.300,464129,0,0.005988,0.005952
260876,adro.us.txt,2017-10-30,8.450,8.600,8.150,8.250,453521,0,0.005952,0.047337
260877,adro.us.txt,2017-10-31,8.850,9.100,7.950,7.950,636424,0,0.047337,-0.293785
260878,adro.us.txt,2017-11-01,6.250,8.200,6.005,7.550,1100815,0,-0.293785,0.208000
260879,adro.us.txt,2017-11-02,7.550,7.600,7.200,7.525,694135,0,0.208000,0.000000
260880,adro.us.txt,2017-11-03,7.550,8.000,7.350,7.950,412491,0,0.000000,0.059603
260881,adro.us.txt,2017-11-06,8.000,8.150,7.800,7.850,409212,0,0.059603,-0.012500
260882,adro.us.txt,2017-11-07,7.900,8.000,7.750,7.800,464754,0,-0.012500,-0.018987
260883,adro.us.txt,2017-11-08,7.750,7.900,7.525,7.800,392643,0,-0.018987,-0.006452
260884,adro.us.txt,2017-11-09,7.700,7.900,7.500,7.850,465090,0,-0.006452,0.025974
260885,adro.us.txt,2017-11-10,7.900,8.150,7.750,7.950,558278,0,0.025974,NaN